
<div class="my-button" @onclick=MyClick
     style="cursor:pointer;width:100px;height:50px;color; text-align:center;justify-items:center">
    @ButtonName
</div>

<style>
    .my-button {
        background-color: brown;
    }

        .my-button :hover {
            background-color: aquamarine;
        }
</style>


@code {
    [Parameter]
    public string? ButtonName { get; set; }

    public string Width { get; set; }

    void MyClick()
    {
        ButtonName = "Hello world!";
    }
}
